/* Featured image Styles for Single post */
.featured-image-full {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1400px) {
  .featured-image-full {
    padding-top: 0;
    height: 500px;
  }
}
